{% extends '::base.html.twig' %}
{% block title %}View all{% endblock %}

{% block body %}
<h1>Job list</h1>

{% for category in categories %}
<h2><a href="{{ path('category', { 'slug': category.name }) }}">{{ category.name }}</a></h2>
{% include 'JobeetJobBundle:Job:jobs_list.html.twig' with {'jobs': category.active_jobs} %}

{% endfor %}

{% endblock %}
