<table class="records_list table table-striped table-bordered table-hover">
    <tbody>
    {% for entity in jobs %}
        <tr>
            <td>{{ entity.location }}</td>
            <td>{{ entity.position }}</td>
            <td><a href="{{ path('job_show', { 'company': entity.company, 'position': entity.position, 'location': entity.location, 'id': entity.id }) }}">{{ entity.company }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>